* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
  /* set base font-size to equiv "10px", which is adapted to rem unit */
  font-size: 62.5%;

  /* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
  /* thanks to @guardian, @victorbritopro and @eQRoeil */
  font-size: calc(1em * 0.625);
  height: 100%;
}

body {
  font-size: $baseFontSize;
  color: $baseColor;
  background-color: $baseBgColor;
  font-family: $fontStackCommon;
  line-height: $lineHeight;
  min-height: 100%;
  overflow-x: hidden;
}

@supports (background-blend-mode: overlay) {
    body {
        background-image: linear-gradient(45deg, rgba(255,255,255,0.5) 10%, rgba(0,0,0,0.5) 90%);
        background-blend-mode: overlay;
    }
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-family: $fontStackHeadings;
    font-weight: 700;
}

//a {
//  text-decoration: none;
//  color: $primaryColor;
//  &:hover,
//  &:focus,
//  &:active {
//    color: $primaryColorDark;
//  }
//}
//
//::selection {
//    text-shadow: none;
//    background: $primaryColor;
//    color: white;
//}