.characters {
  margin-bottom: 5em;
  &__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
  }
  &__item {
    width: 15em;
    height: 18em;
    flex: none;
    margin: 1em;
    position: relative;
    &.is-Kris .characters__label {
      background-image: url(../img/chris.png)
    }
    &.is-Micka .characters__label {
      background-image: url(../img/mika.png)
    }
    &.is-Roro .characters__label {
      background-image: url(../img/roro.png)
    }
    &.is-Quentin .characters__label {
      background-image: url(../img/quentin.png)
    }
  }
  &__label {
    color: transparent;
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all ease 0.3s;
    transform: rotate(360deg);
  }
  &__checkbox {
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    width: 100%;
    opacity: 0;
    z-index: 10;
    //Hover effect
    &:hover {
      cursor: pointer;
      & ~ .characters__panel {
        transform: scale(1);
        opacity: 1;
      }
      & ~ .characters__label {
        cursor: pointer;
        .characters__item:nth-child(odd) & {
          transform: rotate(355deg);
        }
        .characters__item:nth-child(even) & {
          transform: rotate(365deg);
        }
      }
    }
    //Checked effect
    &:checked {
      cursor: pointer;
      & ~ .characters__panel {
        transform: scale(1);
        opacity: 1;
      }
      & ~ .characters__label {
        cursor: pointer;
        filter: grayscale(0.8) brightness(0.8);
        .characters__item:nth-child(odd) & {
          transform: rotate(355deg);
        }
        .characters__item:nth-child(even) & {
          transform: rotate(365deg);
        }
      }
    }
  }
  &__panel {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    transition: all ease 0.3s;
    transform: scale(1.5);
    opacity: 0;
  }
  &__name {
    font-size: 4em;
    margin: 0;
    line-height: 1;
    color: white;
    text-shadow: 0 0 30px black;
  }
  &__subtitle {
    font-size: 1.5em;
    font-style: italic;
    color: white;
    margin: 0;
    text-shadow: 0 0 30px black;
  }
}