.header {
  padding: 3em 0;
  background-color: $headerBgColor;
  &__title {
    color: $headerTitleColor;
    font-size: 4em;
    line-height: 1;
    margin: 0;
    text-align: center;
    letter-spacing: .05em;
  }
}